<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">


	<context:annotation-config></context:annotation-config>

	<bean id="student" class="com.mimararslan.Student" init-method="init"
		destroy-method="destroy">
		<property name="isim" value="Hacı Celal Aygar" />
		<property name="telNo" value="+905554443322" />
		<property name="yas" value="22" />

	</bean>
	<bean id="okul" class="com.mimararslan.Okul">
		<property name="okulIsmi" value="Atatürk Anadolu lisesi" />
	</bean>
	<bean id="adres" class="com.mimararslan.Adres">
		<property name="il" value="Ankara"></property>
		<property name="ilce" value="Yenimahalle"></property>
	</bean>
</beans>
